<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Giventure
        </label>
        <div class="login-group">
            <form [formGroup]="model">
                <div>
                    <input class="username" type="text" id="login_username" placeholder="Username" formControlName="username">
                </div>
                <div>
                    <input class="password" type="password" id="login_password" placeholder="Password" formControlName="password">
                </div>
            </form>
            <p *ngIf="loggedIn == false">Login Failed</p>
            <button type="submit" class="btn btn-success" (click)="login()">Login</button>
            <a class="signup" (click)="register = true">Register for an Account</a>
            <a class="signup" (click)="reset = true">Reset Password</a>
        </div>
    </form>
</div>

<clr-modal [(clrModalOpen)]="register" [clrModalClosable]="false">
    <h3 class="modal-title">Register for a Giventure Account</h3>
    <div class="modal-body">
        <form [formGroup]="signupModel">
            <div class="modal-input">
                <input class="username" type="text" placeholder="First Name" formControlName="first_name">
            </div>
            <div class="modal-input">
                <input class="username" type="text" placeholder="Middle Name" formControlName="middle_name">
            </div>
            <div class="modal-input">
                <input class="username" type="text" placeholder="Last Name" formControlName="last_name">
            </div>
            <div class="modal-input">
                <input class="username" type="date" placeholder="Birthday" formControlName="birthday">
            </div>
            <div class="modal-input">
                <input class="username" type="tel" placeholder="Phone Number" formControlName="phone">
            </div>
            <div class="modal-input">
                <input class="username" type="text" placeholder="Location" formControlName="location" googleplace>
            </div>
            <div class="modal-input">
                <input class="username" type="email" placeholder="Email Address" formControlName="email">
            </div>
            <div class="modal-input">
                <input class="password" type="password" placeholder="Password" formControlName="password">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelRegister()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="registerAccount()">
            Register
        </button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="reset" [clrModalClosable]="false">
    <h3 class="modal-title">Reset your Giventure Account Password</h3>
    <div class="modal-body">
        <form [formGroup]="resetModel">
            <div>
                <input class="username" type="text" placeholder="Email Address" formControlName="email">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelReset()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="resetEmail()">
            Send Reset Email
        </button>
    </div>
</clr-modal>