<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Giventure
        </label>
        <div class="login-group">
            <form [formGroup]="model">
                <div>
                    <input class="username" type="text" id="login_username" placeholder="Username" formControlName="username">
                </div>
                <div>
                    <input class="password" type="password" id="login_password" placeholder="Password" formControlName="password">
                </div>
            </form>
            <p *ngIf="loggedIn == false">Login Failed</p>
            <button type="submit" class="btn btn-success" (click)="login()">Login</button>
            <a class="signup" (click)="register = true">Register for an Account</a>
            <a class="signup" (click)="reset = true">Reset Password</a>
        </div>
    </form>
</div>

<clr-modal [(clrModalOpen)]="register" [clrModalClosable]="false">
    <h3 class="modal-title">Register for a Giventure Account</h3>
    <div class="modal-body">
        <p>Placeholder</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="register = false">
            Register
        </button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="reset" [clrModalClosable]="false">
    <h3 class="modal-title">Reset your Giventure Account Password</h3>
    <div class="modal-body">
        <form [formGroup]="resetModel">
            <div>
                <input class="username" type="text" placeholder="Email Address" formControlName="email">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelReset()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="resetEmail()">
            Send Reset Email
        </button>
    </div>
</clr-modal>