.clr-icon {
  &.clr-logo {
    background-image: url(../images/logo.png);
    width: 150px;
  }
}

#search_input{
  width: 100%;
  font-size: 18px;
}

#log-out{
  top: 20px;
  right: 24px;
}

.search{
  max-width: 75%;
  width: 100%;
}

.search-label{
  width: 100%;
}