<clr-main-container *ngIf="route == '/login'">
  <router-outlet></router-outlet>
</clr-main-container>
<clr-main-container *ngIf="route != '/login'">
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-logo"></span>
      </a>
    </div>
    <form class="search" *ngIf="route == '/volunteer'">
      <label for="search_input" class="search-label">
        <input id="search_input" type="text" placeholder="Search for Oppurtunities by Location" [(ngModel)] = "address"  (setAddress) = "getAddress($event)" name="search" googleplace>
      </label>
    </form>
    <div class="header-actions">
      <a id="log-out" [routerLink]="['/login']" href="#" class="nav-link"> Log Out</a>
    </div>
  </clr-header>
  <nav class="sub-nav" [clr-nav-level]="1">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/volunteer']" routerLinkActive="active"><clr-icon shape="calendar"></clr-icon> Volunteer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/profile']" routerLinkActive="active"><clr-icon shape="user"></clr-icon> Profile</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
